<h2>Add a celebrity</h2>
<form action="/celebrities/create" method="POST">
    <label for="celebrityName">Name
        <input type="text" name="celebrityName">
    </label>
    <label for="celebrityOccupation">Occupation
        <input type="text" name="celebrityOccupation">
    </label>
    <label for="catchphrase">Catchphrase
        <input type="text" name="catchphrase">
    </label>
    <button type="submit">Done!</button>
</form>